# Binaries & compiled artifacts
*.so
*.o
*.a
*.exe
*.dll
test_drover
test_proxy
test_udp

# Except Windows release binaries
!windows/version.dll
!windows/drover.exe
!windows/tor.exe

# Delphi
Win32/
Win64/
*.dcu
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery/
*.~*

.idea/
.vscode/
