# Enforce CRLF on Windows batch files
*.bat text eol=crlf
*.cmd text eol=crlf

# Enforce LF on Linux scripts
*.sh text eol=lf
discord-drover text eol=lf
Makefile text eol=lf

# Binary files
*.bin binary
*.dll binary
*.exe binary
*.ico binary
*.icns binary
*.png binary
